.elementor-358 .elementor-element.elementor-element-4d982d40 > .elementor-container {
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-4d982d40 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-4d982d40 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-24de91f1.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-24de91f1.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-24de91f1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-24de91f1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("../../2023/07/Landscape-scaled(1).jpg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-24de91f1:hover > .elementor-element-populated {
    background-color: #000000A6;
}

.elementor-358 .elementor-element.elementor-element-24de91f1:hover > .elementor-element-populated > .elementor-background-overlay {
    background-color: var(--e-global-color-56cf08fe);
    opacity: 0.3;
}

.elementor-358 .elementor-element.elementor-element-24de91f1 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-24de91f1 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.5s, border-radius 0.3s, opacity 0.5s;
}

.elementor-358 .elementor-element.elementor-element-24de91f1 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-2ba369b > .elementor-container {
    max-width: 1350px;
}

.elementor-358 .elementor-element.elementor-element-2ba369b {
    margin-top: 0px;
    margin-bottom: 150px;
    z-index: 3;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-31fc91b4.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-31fc91b4.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-31fc91b4 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 5px;
}

.elementor-358 .elementor-element.elementor-element-31fc91b4 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-41bedba8 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.elementor-358 .elementor-element.elementor-element-782762f5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.8em;
}

.elementor-358 .elementor-element.elementor-element-50c5b6e1 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu .elementor-item {
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-transform: capitalize;
}

.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main .elementor-item:hover,
.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main .elementor-item:focus {
    color: #FC3B29;
    fill: #FC3B29;
}

.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-6dbed681 {
    --e-nav-menu-horizontal-menu-item-margin: calc(35px / 2);
    z-index: 10;
}

.elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 35px;
}

.elementor-358 .elementor-element.elementor-element-3bb276bb > .elementor-container {
    max-width: 13900px;
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-3bb276bb:not(.elementor-motion-effects-element-type-background), .elementor-358 .elementor-element.elementor-element-3bb276bb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/i_m-me-e1689471816186(1).JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-3bb276bb:hover {
    background-color: #54595F;
}

.elementor-358 .elementor-element.elementor-element-3bb276bb:hover > .elementor-background-overlay {
    background-color: var(--e-global-color-56cf08fe);
    opacity: 0.49;
}

.elementor-358 .elementor-element.elementor-element-3bb276bb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.elementor-358 .elementor-element.elementor-element-3bb276bb > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-36a02140 > .elementor-element-populated {
    margin: 220px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-358 .elementor-element.elementor-element-5523b978 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 145px;
    font-weight: 300;
    text-transform: capitalize;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-48620d34.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-48620d34.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-48620d34 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 50px;
}

.elementor-358 .elementor-element.elementor-element-48620d34 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 20px 100px 20px;
}

.elementor-358 .elementor-element.elementor-element-1279dbbf .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 35px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2em;
}

.elementor-358 .elementor-element.elementor-element-73986d6f {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}

.elementor-358 .elementor-element.elementor-element-7a826587 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.elementor-358 .elementor-element.elementor-element-7a826587 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-55095aca.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-55095aca.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-55095aca:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-55095aca > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/Landscape-scaled(1).jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-55095aca > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-55095aca > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-55095aca > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-55095aca {
    z-index: 1;
}

body:not(.rtl) .elementor-358 .elementor-element.elementor-element-4230edcf {
    left: 0px;
}

body.rtl .elementor-358 .elementor-element.elementor-element-4230edcf {
    right: 0px;
}

.elementor-358 .elementor-element.elementor-element-4230edcf {
    top: 116px;
}

.elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta__content {
    min-height: 80vh;
    text-align: center;
}

.elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta__button {
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 10px;
    border-width: 0px;
}

.elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-358 .elementor-element.elementor-element-17420790.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(1000ms / 3);
}

.elementor-358 .elementor-element.elementor-element-17420790.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((1000ms / 3) * 2);
}

.elementor-358 .elementor-element.elementor-element-17420790.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((1000ms / 3) * 3);
}

.elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: #00000080;
}

.elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta .elementor-cta__bg, .elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-358 .elementor-element.elementor-element-14a0f7a3 > .elementor-container {
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-14a0f7a3 {
    z-index: 1;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-13360617.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-13360617.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-13360617:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-13360617 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/Co-be-lang-Machulo-2-scaled.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-13360617 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-13360617 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-13360617 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta__content {
    min-height: 100vh;
    text-align: center;
}

.elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta__button {
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 10px;
    border-width: 0px;
}

.elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-358 .elementor-element.elementor-element-2651dd53.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(1000ms / 3);
}

.elementor-358 .elementor-element.elementor-element-2651dd53.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((1000ms / 3) * 2);
}

.elementor-358 .elementor-element.elementor-element-2651dd53.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((1000ms / 3) * 3);
}

.elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta .elementor-cta__bg, .elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-358 .elementor-element.elementor-element-72080fb0 {
    --image-border-color: var(--e-global-color-1f37bda0);
    --image-border-width: 0px;
    --image-border-radius: 10px;
    --image-transition-duration: 800ms;
    --overlay-transition-duration: 800ms;
    --content-text-align: center;
    --content-padding: 20px;
    --titles-container-justify-content: center;
    --galleries-title-color-normal: var(--e-global-color-1f37bda0);
    --galleries-title-color-hover: #fff;
    --gallery-title-color-active: var(--e-global-color-accent);
}

.elementor-358 .elementor-element.elementor-element-72080fb0 .e-gallery-image {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-358 .elementor-element.elementor-element-72080fb0 .elementor-gallery-item__overlay {
    background-color: #00000000;
}

.elementor-358 .elementor-element.elementor-element-72080fb0 .e-gallery-item:hover .elementor-gallery-item__overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-358 .elementor-element.elementor-element-72080fb0 .elementor-gallery-title {
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    --space-between: 11px;
}

.elementor-358 .elementor-element.elementor-element-72080fb0 .elementor-gallery__titles-container {
    margin-bottom: 49px;
}

.elementor-358 .elementor-element.elementor-element-72080fb0 > .elementor-widget-container {
    background-color: #02010180;
}

.elementor-358 .elementor-element.elementor-element-56ab39cd {
    --image-border-color: var(--e-global-color-1f37bda0);
    --image-border-width: 0px;
    --image-border-radius: 10px;
    --image-transition-duration: 800ms;
    --overlay-transition-duration: 800ms;
    --content-text-align: center;
    --content-padding: 20px;
}

.elementor-358 .elementor-element.elementor-element-56ab39cd .e-gallery-image {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-358 .elementor-element.elementor-element-56ab39cd .elementor-gallery-item__overlay {
    background-color: #00000000;
}

.elementor-358 .elementor-element.elementor-element-56ab39cd .e-gallery-item:hover .elementor-gallery-item__overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-358 .elementor-element.elementor-element-56ab39cd > .elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: #02010180;
}

.elementor-358 .elementor-element.elementor-element-58e5fc2 > .elementor-container {
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-58e5fc2 {
    z-index: 2;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-a7f7830.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-a7f7830.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-a7f7830:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-a7f7830 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/Landscape.-2jpg-scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-a7f7830 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-a7f7830 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-a7f7830 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta__content {
    min-height: 100vh;
    text-align: center;
}

.elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta__button {
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 10px;
    border-width: 0px;
}

.elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-358 .elementor-element.elementor-element-1781cbd.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(1000ms / 3);
}

.elementor-358 .elementor-element.elementor-element-1781cbd.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((1000ms / 3) * 2);
}

.elementor-358 .elementor-element.elementor-element-1781cbd.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((1000ms / 3) * 3);
}

.elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta .elementor-cta__bg, .elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-358 .elementor-element.elementor-element-104667d > .elementor-container {
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-104667d {
    z-index: 2;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-8db912c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-8db912c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-8db912c:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-8db912c > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/streeslife-scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-8db912c > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-8db912c > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-8db912c > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta__content {
    min-height: 100vh;
    text-align: center;
}

.elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta__button {
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 10px;
    border-width: 0px;
}

.elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-358 .elementor-element.elementor-element-53ad019.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(1000ms / 3);
}

.elementor-358 .elementor-element.elementor-element-53ad019.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((1000ms / 3) * 2);
}

.elementor-358 .elementor-element.elementor-element-53ad019.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((1000ms / 3) * 3);
}

.elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta .elementor-cta__bg, .elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-358 .elementor-element.elementor-element-c3ef563 {
    --image-border-color: var(--e-global-color-1f37bda0);
    --image-border-width: 0px;
    --image-border-radius: 10px;
    --image-transition-duration: 800ms;
    --overlay-transition-duration: 800ms;
    --content-text-align: center;
    --content-padding: 20px;
}

.elementor-358 .elementor-element.elementor-element-c3ef563 .e-gallery-image {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-358 .elementor-element.elementor-element-c3ef563 .elementor-gallery-item__overlay {
    background-color: #00000000;
}

.elementor-358 .elementor-element.elementor-element-c3ef563 .e-gallery-item:hover .elementor-gallery-item__overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-358 .elementor-element.elementor-element-c3ef563 > .elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: #02010180;
}

.elementor-358 .elementor-element.elementor-element-3707dd4 > .elementor-container {
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-3707dd4 {
    z-index: 2;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-4bed772.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-4bed772.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-358 .elementor-element.elementor-element-4bed772:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-4bed772 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/nude-2-scaled(1).png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-4bed772 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-4bed772 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-4bed772 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta__content {
    min-height: 100vh;
    text-align: center;
}

.elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta__button {
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 10px;
    border-width: 0px;
}

.elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-358 .elementor-element.elementor-element-df929f4.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(1000ms / 3);
}

.elementor-358 .elementor-element.elementor-element-df929f4.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((1000ms / 3) * 2);
}

.elementor-358 .elementor-element.elementor-element-df929f4.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((1000ms / 3) * 3);
}

.elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta .elementor-cta__bg, .elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-358 .elementor-element.elementor-element-3a8d615 {
    --image-border-color: var(--e-global-color-1f37bda0);
    --image-border-width: 0px;
    --image-border-radius: 10px;
    --image-transition-duration: 800ms;
    --overlay-transition-duration: 800ms;
    --content-text-align: center;
    --content-padding: 20px;
}

.elementor-358 .elementor-element.elementor-element-3a8d615 .e-gallery-image {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-358 .elementor-element.elementor-element-3a8d615 .elementor-gallery-item__overlay {
    background-color: #00000000;
}

.elementor-358 .elementor-element.elementor-element-3a8d615 .e-gallery-item:hover .elementor-gallery-item__overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-358 .elementor-element.elementor-element-3a8d615 > .elementor-widget-container {
    padding: 10px 10px 10px 10px;
    background-color: #02010180;
}

.elementor-358 .elementor-element.elementor-element-4119dedb > .elementor-container {
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-4119dedb {
    z-index: 2;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-4fcc765f.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-4fcc765f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-4fcc765f:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-4fcc765f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/Hoa-scaled.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-4fcc765f > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-358 .elementor-element.elementor-element-4fcc765f > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-4fcc765f > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta__content {
    min-height: 100vh;
    text-align: center;
}

.elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta__button {
    font-family: "Montserrat", Sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 10px;
    border-width: 0px;
}

.elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta__content-item {
    transition-duration: 1000ms;
}

.elementor-358 .elementor-element.elementor-element-3572b7e.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(2) {
    transition-delay: calc(1000ms / 3);
}

.elementor-358 .elementor-element.elementor-element-3572b7e.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(3) {
    transition-delay: calc((1000ms / 3) * 2);
}

.elementor-358 .elementor-element.elementor-element-3572b7e.elementor-cta--sequenced-animation .elementor-cta__content-item:nth-child(4) {
    transition-delay: calc((1000ms / 3) * 3);
}

.elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta:hover .elementor-cta__bg-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta .elementor-cta__bg, .elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-358 .elementor-element.elementor-element-6efac75 {
    --image-border-color: var(--e-global-color-1f37bda0);
    --image-border-width: 0px;
    --image-border-radius: 10px;
    --image-transition-duration: 800ms;
    --overlay-transition-duration: 800ms;
    --content-text-align: center;
    --content-padding: 20px;
}

.elementor-358 .elementor-element.elementor-element-6efac75 .e-gallery-image {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-358 .elementor-element.elementor-element-6efac75 .elementor-gallery-item__overlay {
    background-color: #00000000;
}

.elementor-358 .elementor-element.elementor-element-6efac75 .e-gallery-item:hover .elementor-gallery-item__overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-358 .elementor-element.elementor-element-6efac75 > .elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: #02010180;
}

.elementor-358 .elementor-element.elementor-element-58f5c29 > .elementor-container {
    max-width: 1400px;
    min-height: 100vh;
}

.elementor-358 .elementor-element.elementor-element-58f5c29:not(.elementor-motion-effects-element-type-background), .elementor-358 .elementor-element.elementor-element-58f5c29 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2023/07/Hoa-scaled.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-358 .elementor-element.elementor-element-58f5c29 > .elementor-background-overlay {
    background-color: var(--e-global-color-56cf08fe);
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-358 .elementor-element.elementor-element-58f5c29 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 30px 0px;
    z-index: 2;
}

.elementor-358 .elementor-element.elementor-element-1f4f1e7b > .elementor-element-populated {
    margin: 150px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-358 .elementor-element.elementor-element-6be2dc0 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 145px;
    font-weight: 300;
    text-transform: capitalize;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group {
    padding-right: calc(10px / 2);
    padding-left: calc(10px / 2);
    margin-bottom: 35px;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-form-fields-wrapper {
    margin-left: calc(-10px / 2);
    margin-right: calc(-10px / 2);
    margin-bottom: -35px;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 5px;
}

body:not(.rtl) .elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 5px;
}

body .elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 5px;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group > label, .elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-subgroup label {
    color: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group > label {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-type-html {
    padding-bottom: 0px;
    font-family: "Montserrat", Sans-serif;
    text-transform: capitalize;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group .elementor-field {
    color: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group .elementor-field, .elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-subgroup label {
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.31);
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group .elementor-select-wrapper select {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.31);
    border-width: 0px 0px 1px 0px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-field-group .elementor-select-wrapper::before {
    color: rgba(255, 255, 255, 0.31);
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: underline;
    padding: 0px 0px 0px 0px;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .e-form__buttons__wrapper__button-next {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-button[type="submit"] {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-button[type="submit"] svg * {
    fill: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .e-form__buttons__wrapper__button-next:hover {
    color: #FC3B29;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-button[type="submit"]:hover {
    color: #FC3B29;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-button[type="submit"]:hover svg * {
    fill: #FC3B29;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-message {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-message.elementor-message-success {
    color: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-message.elementor-message-danger {
    color: #FC3B29;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 .elementor-message.elementor-help-inline {
    color: #FFFFFF;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-358 .elementor-element.elementor-element-4db128c9 > .elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-358 .elementor-element.elementor-element-713711b5.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-713711b5.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-358 .elementor-element.elementor-element-713711b5 > .elementor-element-populated > .elementor-widget-wrap {
    padding: 0% 0% 15% 35%;
}

.elementor-358 .elementor-element.elementor-element-4e8621e4 .elementor-heading-title {
    color: rgba(255, 255, 255, 0.46);
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.elementor-358 .elementor-element.elementor-element-29a9c9ca .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.8em;
}

.elementor-358 .elementor-element.elementor-element-49733a27 .elementor-heading-title {
    color: rgba(255, 255, 255, 0.46);
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.elementor-358 .elementor-element.elementor-element-6115fcef .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8em;
}

.elementor-358 .elementor-element.elementor-element-73e77595 .eael-caldera-form-heading {
    text-align: right;
}

.elementor-358 .elementor-element.elementor-element-73e77595 .eael-one-page-nav {
    background-color: #00000000;
}

.elementor-358 .elementor-element.elementor-element-73e77595 .eael-nav-dot {
    font-size: 15px;
    color: var(--e-global-color-1f37bda0);
}

.elementor-358 .elementor-element.elementor-element-73e77595.nav-align-right .eael-one-page-nav-item, .elementor-358 .elementor-element.elementor-element-73e77595.nav-align-left .eael-one-page-nav-item {
    margin-bottom: 16px;
}

.elementor-358 .elementor-element.elementor-element-73e77595.nav-align-top .eael-one-page-nav-item, .elementor-358 .elementor-element.elementor-element-73e77595.nav-align-bottom .eael-one-page-nav-item {
    margin-right: 16px;
    margin-left: 0;
}

.rtl .elementor-358 .elementor-element.elementor-element-73e77595.nav-align-top .eael-one-page-nav-item, .elementor-358 .elementor-element.elementor-element-73e77595.nav-align-bottom .eael-one-page-nav-item {
    margin-left: 16px;
    margin-right: 0;
}

.elementor-358 .elementor-element.elementor-element-73e77595 .eael-nav-dot-wrap {
    background-color: #FFFFFF00;
}

body.elementor-page-358:not(.elementor-motion-effects-element-type-background), body.elementor-page-358 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-358 .elementor-element.elementor-element-36a02140 {
        width: 100%;
    }

    .elementor-358 .elementor-element.elementor-element-48620d34 {
        width: 100%;
    }

    .elementor-358 .elementor-element.elementor-element-1f4f1e7b {
        width: 100%;
    }

    .elementor-358 .elementor-element.elementor-element-713711b5 {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-358 .elementor-element.elementor-element-4d982d40 > .elementor-container {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-24de91f1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-24de91f1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: center center;
    }

    .elementor-358 .elementor-element.elementor-element-2ba369b {
        margin-top: 0px;
        margin-bottom: 150px;
        padding: 0px 50px 0px 50px;
    }

    .elementor-358 .elementor-element.elementor-element-36a02140 > .elementor-element-populated {
        margin: 120px 50px 0px 50px;
        --e-column-margin-right: 50px;
        --e-column-margin-left: 50px;
    }

    .elementor-358 .elementor-element.elementor-element-5523b978 .elementor-heading-title {
        font-size: 120px;
    }

    .elementor-358 .elementor-element.elementor-element-48620d34 > .elementor-element-populated > .elementor-widget-wrap {
        padding: 0px 50px 50px 50px;
    }

    .elementor-358 .elementor-element.elementor-element-55095aca:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-55095aca > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .elementor-358 .elementor-element.elementor-element-4230edcf {
        top: 250px;
    }

    .elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta__content {
        min-height: 50vh;
    }

    .elementor-358 .elementor-element.elementor-element-14a0f7a3 > .elementor-container {
        min-height: 50vh;
    }

    .elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta__content {
        min-height: 49vh;
    }

    .elementor-358 .elementor-element.elementor-element-58e5fc2 > .elementor-container {
        min-height: 50vh;
    }

    .elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta__content {
        min-height: 49vh;
    }

    .elementor-358 .elementor-element.elementor-element-104667d > .elementor-container {
        min-height: 50vh;
    }

    .elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta__content {
        min-height: 49vh;
    }

    .elementor-358 .elementor-element.elementor-element-3707dd4 > .elementor-container {
        min-height: 50vh;
    }

    .elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta__content {
        min-height: 49vh;
    }

    .elementor-358 .elementor-element.elementor-element-4119dedb > .elementor-container {
        min-height: 50vh;
    }

    .elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta__content {
        min-height: 50vh;
    }

    .elementor-358 .elementor-element.elementor-element-58f5c29:not(.elementor-motion-effects-element-type-background), .elementor-358 .elementor-element.elementor-element-58f5c29 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: -800px 0px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .elementor-358 .elementor-element.elementor-element-1f4f1e7b > .elementor-element-populated > .elementor-widget-wrap {
        padding: 0px 50px 0px 50px;
    }

    .elementor-358 .elementor-element.elementor-element-6be2dc0 .elementor-heading-title {
        font-size: 120px;
    }

    .elementor-358 .elementor-element.elementor-element-713711b5 > .elementor-element-populated > .elementor-widget-wrap {
        padding: 50px 50px 100px 50px;
    }
}

@media (max-width: 767px) {
    .elementor-358 .elementor-element.elementor-element-4d982d40 > .elementor-container {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-24de91f1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-24de91f1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: -375px 0px;
    }

    .elementor-358 .elementor-element.elementor-element-2ba369b {
        margin-top: 0px;
        margin-bottom: 120px;
    }

    .elementor-358 .elementor-element.elementor-element-41bedba8 {
        text-align: center;
    }

    .elementor-358 .elementor-element.elementor-element-782762f5 {
        text-align: center;
    }

    .elementor-358 .elementor-element.elementor-element-782762f5 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu .elementor-item {
        font-size: 24px;
    }

    .elementor-358 .elementor-element.elementor-element-6dbed681 {
        --e-nav-menu-horizontal-menu-item-margin: calc(25px / 2);
        z-index: 10;
    }

    .elementor-358 .elementor-element.elementor-element-6dbed681 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
        margin-bottom: 25px;
    }

    .elementor-358 .elementor-element.elementor-element-36a02140 > .elementor-element-populated > .elementor-widget-wrap {
        padding: 50px 0px 0px 0px;
    }

    .elementor-358 .elementor-element.elementor-element-36a02140 {
        z-index: 1;
    }

    .elementor-358 .elementor-element.elementor-element-5523b978 .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-358 .elementor-element.elementor-element-48620d34 > .elementor-element-populated > .elementor-widget-wrap {
        padding: 50px 50px 50px 50px;
    }

    .elementor-358 .elementor-element.elementor-element-1279dbbf .elementor-heading-title {
        font-size: 22px;
    }

    .elementor-358 .elementor-element.elementor-element-55095aca:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-55095aca > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-image: url("../../2023/07/Landscape-scaled(1).jpg");
    }

    .elementor-358 .elementor-element.elementor-element-4230edcf {
        top: 200px;
    }

    .elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta__content {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-17420790 .elementor-cta__button {
        font-size: 40px;
    }

    .elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta__content {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-2651dd53 .elementor-cta__button {
        font-size: 40px;
    }

    .elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta__content {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-1781cbd .elementor-cta__button {
        font-size: 40px;
    }

    .elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta__content {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-53ad019 .elementor-cta__button {
        font-size: 40px;
    }

    .elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta__content {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-df929f4 .elementor-cta__button {
        font-size: 40px;
    }

    .elementor-358 .elementor-element.elementor-element-4fcc765f:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-4fcc765f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: center center;
    }

    .elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta__content {
        min-height: 100vh;
    }

    .elementor-358 .elementor-element.elementor-element-3572b7e .elementor-cta__button {
        font-size: 40px;
    }

    .elementor-358 .elementor-element.elementor-element-58f5c29:not(.elementor-motion-effects-element-type-background), .elementor-358 .elementor-element.elementor-element-58f5c29 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-358 .elementor-element.elementor-element-6be2dc0 .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-358 .elementor-element.elementor-element-713711b5 > .elementor-element-populated > .elementor-widget-wrap {
        padding: 50px 50px 50px 50px;
    }
}

@media (min-width: 1025px) {
    .elementor-358 .elementor-element.elementor-element-24de91f1:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-24de91f1 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-358 .elementor-element.elementor-element-55095aca:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-55095aca > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-358 .elementor-element.elementor-element-13360617:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-13360617 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: scroll;
    }

    .elementor-358 .elementor-element.elementor-element-a7f7830:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-a7f7830 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-358 .elementor-element.elementor-element-8db912c:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-8db912c > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-358 .elementor-element.elementor-element-4bed772:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-4bed772 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-358 .elementor-element.elementor-element-4fcc765f:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-358 .elementor-element.elementor-element-4fcc765f > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}